<html>
	<body>
		<h3>Hi ! Reset your password to come back quickly to business</h3>
		<p>
			Your email is ${user.email} and your language is ${user.locale}
			<a href="http://localhost:8080/reset?t=${resetToken}">Go on reset page!</a>
		</p>
	</body>
</html>