<html>
	<body>
		<h3>Bonjour ! Réinitialisez votre mot de passe en clic pour retourner aux affaires au plus vite :)</h3>
		<p>
			Votre email de connexion est ${user.email} et votre language est ${user.locale}.
			<a href="http://localhost:8080/reset?t=${resetToken}">Faire un reset !! TOUT SUITE</a>
		</p>
	</body>
</html>